.last_section {
  position: relative;
  background: url("../img/img_bottom.jpg") center center no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 200px;

  .section_last_description {
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 80px 200px 0 200px;


    .section_title {
      h2 {
        @include h2_title;
        text-align: left;
      }

      p {
        @include p_p;
        text-align: left;

      }
    }

    .btn_last_section {
      input {
        background: #6fb048;
        color: #ffffff;
        border: none;
        height: 40px;
        width: 280px;
        border-radius: 3px;
        &:hover{
          background: #375b28;
        }
      }
    }
  }
}