{% load static %}
<div class="description_responsive">
    <div class="container">
        <div class="responsive_title">
            <h2>Looking for the perfect template to use?</h2>
            <div class="line_hr">
                <hr>
                <hr>
                <hr>
            </div>
            <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="responsive_img">
            <img src="{% static 'img/hen.jpg' %}" alt="fone_shop">
            <div class="responsive_description">
                <h2>
                    Responsive Ready
                </h2>
                <p>
                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                    sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia
                    bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                    Vestibulum id ligula porta felis euismod semper.
                </p>
                <p class="p_description">
                    Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                </p>
                <p class="p_description">
                    Donec id elit non mi porta gravida at eget metus.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="description_women">
    <div class="container">
        <div class="women_title">
            <p>
                This theme is beautiful, elegant and easy to customize. I’ve been able to build an amazing site in just
                a minute. Thank you very much for creating this impressive template!
            </p>
            <p>Valeria Boltneva</p>
            <p>Director of Acme.Inc</p>
        </div>
        <div class="women_img">
            <img src="{% static 'img/women.jpg' %}" alt="lady">
        </div>
    </div>
</div>
<div class="world">
    <div class="container">
        <div class="world_description">
            <h2>
                Built with High Attention to Details
            </h2>
            <p>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum
                nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id
                ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus
            </p>
        </div>
        <div class="world_img">
            <img src="{% static 'img/world_d.jpg' %}" alt="world">
        </div>
    </div>
</div>
{% include 'component_parts/by.html' %}