{% load static %}
<section class="by">
    <div class="container">
        <div class="by_title">
            <h2 class="ope_n">
                Pricing & Plan
            </h2>
            <h2 class="closer first_p">
                Get Started with Wapik Today <br>
                All Plans include a 30-Day Trial Period
            </h2>
            <div class="line_hr ope_n">
                <hr>
                <hr>
                <hr>
            </div>
            <p class="ope_n">
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. <br>
                Donec id elit non mi porta gravida at eget metus.
            </p>
            <p class="closer">Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
        <div class="by_by">
            <div class="basic">
                <h4>
                    Basic
                </h4>
                <span>$<span class="Single">
                    199
                </span></span>
                <p>/month</p>
                <ul>
                    <li> Justo Fringilla</li>
                    <li>Mollis Sit Nullam</li>
                    <li>Ultricies Purus Amet</li>
                    <li>Cras Inceptos</li>
                </ul>

                <input type="submit" value="select plan">
            </div>
            <div class="plus">
                <h4>
                    plus
                </h4>
                <span>$<span class="Single1">
                    399
                </span></span>
                <p>/month</p>
                <ul>
                    <li> Justo Fringilla</li>
                    <li>Mollis Sit Nullam</li>
                    <li>Ultricies Purus Amet</li>
                    <li>Cras Inceptos</li>
                </ul>
                <input type="submit" value="select plan">
            </div>
            <div class="premium">
                <h4>
                    premium
                </h4>
                <span>$<span class="Single2">
                    699
                </span></span>
                <p>/month</p>
                <ul>
                    <li> Justo Fringilla</li>
                    <li>Mollis Sit Nullam</li>
                    <li>Ultricies Purus Amet</li>
                    <li>Cras Inceptos</li>
                </ul>
                <input type="submit" value="select plan">
            </div>
        </div>
        <div class="closer">
            <p>
                Limited Time Offer. All plans are FREE 14 days!
            </p>
        </div>
        <div class="by_description">
            <h2>
                Included with all Plans
            </h2>
            <div class="line_hr">
                <hr>
                <hr>
                <hr>
            </div>
            <div class="ul_description">
                <ul class="categoris">
                    <li>Maecenas faucibus mollis interdum</li>
                    <li>Cras justo odio, dapibus ac facilisis</li>
                    <li>Fringilla Mattis</li>

                </ul>
                <ul class="categoris">

                    <li>Vestibulum id ligula porta felis euismod</li>
                    <li>Duis mollis, est non commodo luctus</li>
                    <li>Integer posuere</li>

                </ul>
                <ul class="categoris">

                    <li>Nulla vitae elit libero, a pharetra augue</li>
                    <li>Curabitur blandit tempus porttitor</li>
                    <li>Nullam quis risus eget urna mollis</li>
                </ul>
            </div>
        </div>
        <div class="by_end">
            <img src="{% static 'img/boll.jpg' %}" alt="">
            <h2>Need Help?</h2>
            <div class="line_hr">
                <hr>
                <hr>
                <hr>
            </div>
            <p>
                Contact our Customer Support that is always ready to help you with any possible
                questions, problems or information.
            </p>
            <span>
                support@wapik.com
            </span>
        </div>
    </div>
</section>