{% load static %}
<section class="description">
    <div class="container">
        <div class="description_title">
            <h1 class="ope_n">Best of our features</h1>
            <h1 class="closer">About Us</h1>
            <div class="line_hr">
                <hr>
                <hr>
                <hr>
            </div>
            <p class="ope_n">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <p class="closer">
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec
                id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut
                id elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor
                fringilla.
            </p>
        </div>
        <div class="line_icons">
            <div class="icons">
                <img src="{% static 'img/img1/Vector-Smart-Object.jpg' %}" alt="Vector-Smart-Objec">
                <h3>Ionicons</h3>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam.
                    Pellentesque ornare sem.</p>
            </div>
            <div class="icons_first">
                <img src="{% static 'img/img1/Vector-Smart-Object1.jpg' %}" alt="Vector-Smart-Objec">
                <h3>Creative Design</h3>
                <p>Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur
                    et.</p>
            </div>
            <div class="icons_second">
                <img src="{% static 'img/img1/Vector-Smart-Object2.jpg' %}" alt="Vector-Smart-Objec">
                <h3>Photoshop and Sketch</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius
                    blandit sit amet non magna.</p>
            </div>
        </div>
        <div class="line_description">
            <div class="line_description_first">
                <h3>
                    Cross Browser Compatibility
                </h3>
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget
                    metus.
                </p>
            </div>
            <div class="line_description_second">
                <h3>
                    Creative Idea
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod
                    semper.
                </p>
            </div>
            <div class="line_description_three">
                <h3>
                    Pixel Perfect
                </h3>
                <p>
                    Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </p>
            </div>
            <div class="line_description_four">
                <h3>
                    Free Forever and Ever
                </h3>
                <p>
                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at
                    eget metus.
                </p>
            </div>
        </div>
    </div>
</section>
