.header .container img {
  display: none;
  height: 100px; }

.header .container .top {
  position: inherit;
  background: #eef1ec !important; }
  .header .container .top .shadow {
    display: none; }
  .header .container .top .header_description {
    display: none;
    padding: 0; }
  .header .container .top .closer {
    display: block;
    margin: 0 220px 0 220px;
    background: #d1e6e5; }
  .header .container .top .top_bar {
    position: relative;
    height: 85px; }
    .header .container .top .top_bar .top_section_first h1 {
      color: #0f5f5c;
      font-weight: 700;
      font-size: 23px; }
    .header .container .top .top_bar .top_section_first p {
      color: #83a7a5;
      border-left: 1px solid #83a7a5;
      padding: 5px 0 5px 10px; }
    .header .container .top .top_bar .top_section_second .navigation li:first-child a {
      color: #83a7a5; }
    .header .container .top .top_bar .top_section_second .navigation li:hover {
      background: #6fb048;
      border-radius: 2px; }
    .header .container .top .top_bar .top_section_second .navigation li a {
      color: #83a7a5; }
    .header .container .top .top_bar .top_section_second .navigation li:hover a {
      color: #ffff; }

.by .container {
  background: #eef1ec !important; }
  .by .container .by_title .ope_n {
    display: none; }
  .by .container .by_title .closer {
    display: block; }
  .by .container .closer {
    display: block; }
    .by .container .closer p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #83a7a5;
      line-height: 23px;
      padding-top: 30px; }
